.social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    padding-top: 5px;
    background: #555;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    line-height: 20px;
}

.social a:hover,
.social a:focus {
    outline: 0;
    background: #e75967;
}

.jumbotron {
    background-color: white;
    padding-bottom: 0;
}

h1 {
    font-family: Raleway;
    font-size: 45px;
    font-style: normal;
    font-variant: normal;
    letter-spacing: 0.3em;
}

h3 {
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    letter-spacing: 0.1em;
}

h4 {
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    letter-spacing: 0.1em;
    padding-bottom: 10px;
}

.style-details {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: italic;
    text-align: left;
}

.text-justify {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: italic;
}

.text-center {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: italic;
}

img.clothes {
    width: 90%;
    height: 90%;
}

img.flyer {
    width: 75%;
    height: 75%;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

footer {
    background-color: white;
    padding: 20px;
}

.soc2 {
    text-align: center;
    font-size: 25px;
    padding: 20px;
    margin-right: 10px;
}

.navbar-toggle .icon-bar {
    background-color: #888;
}